<div class="about">
  <h1>About</h1>
  <h3>Podnah’s Story</h3>
  <p>By the time Rodney Muirhead opened Podnah's in late 2006, he'd already been smoking Texas style barbecue in Portland for almost 4 years. He started his barbecue career as one half of L.O.W. BBQ--the somewhat itenerant fellas who had pit-on-trailer and did travel. Rodney and his partner sold L.O.W, and Rodney went to work in some other fine local restaurants, all the while dreaming of opening his own place.</p>
  <p>Rodney realized that dream in the summer of 2006 when he found a partner and a space for what would become his new barbecue restaurant. To honor his Texas roots, he named it "Podnah's Pit" after his grandfather's nickname--"podnah" being Texan for partner.</p>
  <p>Podnah's barbecue has been praised by publications from the Willamette Week to Bon Apetite magazine. There's a really simple explanation for Rodney's success: he don't mess with Texas. While many things have changed since Rodney started barbecuing back in 2003, there's one thing that will always stay the same--relying on the barbecue methods of the Lone Star state.</p>
</div>