<h3>Catering</h3>
<div class="accordion-font">
    <img class="accordion-image"src="http://podnahspit.com/images/pic10.jpg">
      <p class="catering">On-Site Catering for 500+ people. Prices ranging from $12/person and up.</p>
      <p class="catering"><span class="bold">Meats available:</span></p>
      <p class="catering">Brisket, Pulled Pork, Pork Ribs, & Chicken. Other meats, like whole pigs, available by request.</p>
      <p class="catering"><span class="bold">Sides Available:</span></p>
      <p class="catering">Potato Salad, Coleslaw, BBQ Beans, Green Salad.</p>
      <p class="catering"><span class="bold">We Supply:</span></p>
      <p class="catering">On-site cooking. Need access to the space with power available one day in advance. Staff for cooking and stocking a buffet line.</p>
</div>