<h1>Contact Us</h1>
  <h3 class="directions">Get Directions!</h3>
  <div class="routing">
    <form class="get-route" method="post" action="#">
      <input name="get-directions" id="location"type="text" placeholder="Enter Your Location&hellip;">
      <input class="directions-button" type="submit" value="Submit">
    </form>
    <div class="icon-container">
      <img class="inactive" src="http://uxrepo.com/static/icon-sets/open-maps/svg/bicycle.svg" alt="BICYCLING"/>
      <img class="active" src="http://uxrepo.com/static/icon-sets/open-maps/svg/car.svg" alt="DRIVING"/>
      <img class="inactive" src="http://uxrepo.com/static/icon-sets/open-maps/svg/walking.svg" alt="WALKING"/>
    </div>
    <p class="get-route"></p>
  </div>

  <!--Bike: http://uxrepo.com/static/icon-sets/open-maps/svg/bicycle.svg -->
  <!--Car: http://uxrepo.com/static/icon-sets/open-maps/svg/car.svg -->
  <!--Walk: http://uxrepo.com/static/icon-sets/open-maps/svg/walking.svg -->
      <div id="total"></div>
      <div id="map"></div>
        <div class="contacts">
          <div class="address">1625 NE Killingsworth Portland Oregon 97211</div>
          <div class="phone">(503)281-3700</div>
            <a class="twitter" href="http://twitter.com/podnahsbbq"><img class="follow" src="http://www.modelwaresystems.com/images/Research/twitter-icon.png"></a>
            <a class="facebook" href="#facebook"><img class="follow" src="http://www-scf.usc.edu/~yudai/itp104/portfolio/facebook-circle-512.png"></a>
            <a class="instagram" href="#instagram"><img class="follow" src="http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-black/social-media/social-media_instagram/social-media_instagram_flat-circle-white-on-black_512x512.png"></a>
        </div>

  <!-- Google Maps API? -->