<div class="header">
  <h1 class ="title">Podnah's Pit Barbeque</h1>
  <ul class="links">
    <li>
      <a class="smoothScroll" href="#About">About</a>
    </li>
    <li>•</li>
    <li>
      <a class="smoothScroll" href="#Catering">Catering</a>
    </li>
    <li>•</li>
    <li>
      <a class="smoothScroll" href="#Comments">Comments</a>
    </li>
    <li>•</li>
    <li>
      <a class="smoothScroll" href="#Contact">Contact</a>
    </li>
    <li>•</li>
    <li>
      <a class="smoothScroll" href="#Menu">Menu</a>
    </li>
    <li>•</li>
    <li>
      <a class="smoothScroll" href="#Sauces">Sauces</a>
    </li>
     <li>•</li>
    <li>
      <a class="smoothScroll" href="#Specials">Specials</a>
    </li>
  </ul>
</div>