<div class="menu">
  <h1>MENUS</h1>
  <form class="menu_request" method="post" action="/">
    <input id="dinner" class="menu_button" type="submit" value="Dinner">
    <input id="breakfast" class="menu_button" type="submit" value="Breakfast">
    <%= erb :"_dinner" %>
  </form>
</div>