<h1>What Are You Craving?</h1>
<form class="menu_query" method="post" action="/menu">
    <input name="query" id="text_query"type="text" placeholder="Check Our Menu&hellip;"></br>
    <input class="menu_button" type="submit" value="Submit">
</form>
<div class="queries">
</div>
