<h3>Sauces</h3>
<div class="accordion-font">
  <img class="accordion-image" src="http://podnahspit.com/images/pic1.jpg">
    <p><span class="bold">Sauces sold at the following locations:</span></p>
      <p>New Seasons</p>
      <p>Pastaworks</p>
      <p>Alberta Co-Op</p>
      <p>Food Front</p>
      <p>Cheese Bar</p>
</div>