<h3>Daily Specials</h3>
<div class="accordion-font">
  <img class = "accordion-image" src="http://podnahspit.com/images/pic11.jpg">
    <p><span class="bold">Monday</span> All day service industry happy hour / Beef Ribs after 5pm</p>
    <p><span class="bold">Tuesday</span> All day rib and draft happy hour</p>
    <p><span class="bold">Wednesday</span> Fried chicken after 5pm</p>
    <p><span class="bold">Thursday</span> Smoked lamb ribs and shoulder after 5pm</p>
    <p><span class="bold">Friday</span> Fried Catfish after 5pm</p>
    <p><span class="bold">Saturday</span> Southern Brunch 9am-1pm / smoked prime rib after 5pm</p>
    <p><span class="bold">Sunday</span> Southern Brunch 9am-1pm / smoked pork chop after 5pm</p>
</div>